*{
    margin: 0px;
    padding: 0px;
   
}
h1{
    font-family: 'Dancing Script', cursive;   
}
.carousel-item img{
    width: 100vw;
    height: 80vh;
}


#time{
    
 
    font-weight: bolder;
  
    font-size: 20px;
    color: wheat;
   
    border-radius: 15px;
    
}
.btn1 {
   padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.scards{
    border-radius: 10px;
}